if ATS3605

choice
	prompt "ATS3605 board select"
	optional

config TARGET_ATS3605_UPGRADE
	bool "Actions ATS3605 upgrade"
	help
	  Directly jump kernel/initramfs that already download to ddr by
	  production tool. Only used for burn firmware.

config TARGET_LS370A_EVB
	bool "Actions LS370A_evb slc nandflash board"

config TARGET_ATS3605_EVB_MLC
	bool "Actions ats3605_evb mlc nandflash board"

config TARGET_LS360F_EVB
	bool "Actions ls360f_evb board spi norflash"

config TARGET_HOBOT_EVB
	bool "Actions hotbot_evb slc nandflash board"

config TARGET_LS360F_EVB_LCD
	bool "Actions ls360f_evb lcd  board spi norflash"

config TARGET_LS360F_EVB_MULTIMIC
	bool "Actions ls360f_evb_multimic board spi norflash"

config TARGET_LS360F_EVB_WIBOX
	bool "Actions ls360f_evb_wibox board spi norflash"	
config TARGET_LS360F_NAND_ZXF86
	bool "Actions ls360f_nand_zxf86 board nandflash"
	
config TARGET_LS360F_NAND_GJLX
	bool "Actions ls360f_nand_gjlx board nandflash"
endchoice

source "board/actions/ats3605_upgrade/Kconfig"
source "board/actions/ls370a_evb/Kconfig"
source "board/actions/ats3605_evb_mlc/Kconfig"
source "board/actions/ls360f_evb/Kconfig"
source "board/actions/hobot_evb/Kconfig"
source "board/actions/ls360f_evb_lcd/Kconfig"
source "board/actions/ls360f_evb_multimic/Kconfig"
source "board/actions/ls360f_evb_wibox/Kconfig"
source "board/actions/ls360f_nand_zxf86/Kconfig"
source "board/actions/ls360f_nand_gjlx/Kconfig"
endif
